* {
    padding: 0%;
    margin: 0;
}

.allcontainer {
    display:flex;
    max-width: 100%;
    border: 30px solid gray;
}

.leftcontainer {
    max-width: 50%;
    margin: 20px;
    border: 2px solid black;
    display: grid;
}

.rightcontainer {
    margin: auto;
    border: 2px solid black;
    padding: 5px;
}

figure {
    margin: auto;
}

figure.p {
    margin: auto;
}
.container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.5rem;
}

.title::before, .title::after {
    content: "";
    height: 2px;
    background-color: black;
    display: block;
}
